* {
  color: white;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 15px 0;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.exercise-page {
  padding: 15px;
  position: fixed;
  width: 75vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  overflow: auto;
}

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.pagination-list li {
  margin: 0 3px;
}

.pagination-btn {
  height: 40px;
  width: 50px;
}

.exercise-displays {
  margin: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-displays {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.video {
  flex: 0 0 25%;
}

.parent {
  position: relative;
}

.selections {
  display: flex;
  flex-wrap: wrap;
}

.selection-box {
  flex: 0 0 20%;
}

.exercise-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exercise-item {
  margin-bottom: 10px;
  flex: 0 0 25%;
}

.search-bar {
  display: flex;
  transition: border-color 0.25s;
  justify-content: center;
}

.search-bar--input {
  outline: none;
  width: 500px;
  border: 1px solid white;
  background-color: #f9f9f9;
  font-size: 1.25em;
  color: black;
  font-weight: 500;
  font-family: inherit;
  border-radius: 12px;
  padding: 1rem;
  text-align: left;
}

.submitted-div {
  padding-top: 50px;
}

.thumbnail {
  width: 50%;
  height: 50%;
}

.footer {
  margin: 50px;
}

@media screen and (max-width: 820px) {
  .exercise-item {
    flex: 0 0 50%;
  }

  .selection-box {
    flex: 0 0 33%;
  }

  .pagination-div {
    width: 80vw;
  }

  .pagination-btn {
    height: 15px;
    width: 30px;
  }

  .pagination-list li {
    margin: 0 0px;
  }

  .pagination-list {
    gap: 35px;
  }

  .search-bar--input {
    width: 80vw;
  }

  .exercise-page {
    width: 90vw;
  }

  .video {
    flex: 0 0 50%;
  }

  .thumbnail {
    width: 30%;
    height: 30%;
  }

  .exercise-displays {
    display: inline-block;
  }

  .gif {
    width: 85%;
    height: 85%;
  }
}
